:root {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
  background-color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #007CE0;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
}
h2 {
  text-align: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin: 30px 0;
}

table {
  width: 100%;
}
table td, th {
  line-height: 16px;
  padding: 6px 8px;
/*  border-bottom: 1px solid #CCC;*/
}
table tr:nth-child(odd) {
  background-color: #F2F2F2;
}
table th {
  background-color: #FFF;
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;
}
table th.sortable {
  cursor: pointer;
}
table td.Active {
  color: #1BB580;
  font-weight: bold;
}
table td.InDevelopment {
  color: #007CE0;
  font-weight: bold;
  text-wrap: nowrap;
}
table td.Retired {
  color: #F2645A;
  font-weight: bold;
}
table td.NeedsReview {
  color: #F7A29C;
  font-weight: bold;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icon-sort::before {
  content: url('assets/icons/sort-solid.svg');
  max-height: 17px;
  width: 17px;
  transform: scale(0.5);
  /*filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);*/
  position: absolute;
  transform-origin: center top;
}